@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.Sidebar {
	background: #ececec;
	padding-top: 10px;
}

.tools {
	float: left;
}

.tool {
	padding: 5px;
}

.buttonContainer {
	margin-top: 5px;
}

.Sidebar > div {
	display: inline-block;
}

.textInputContainer,
.buttonContainer {
	margin-bottom: 10px;
}

.centered {
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
}
